/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 24px;
    .list-group {
      flex-wrap: unset;
      .list-group-item {
        font-size: 24px;
      }
    }
    .techstack-card-wrapper {
      flex-direction: row !important;
      align-content: space-around;
      .card {
        width: 20vw !important;
        height: max-content;
      }
    }
    #project-selector {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 5vw;
      .project {
        flex-shrink: 0;
      }
    }
    #contact {
      height: 30vh;
      .list {
        flex-direction: row !important;
        .list-group-item {
          text-align: center;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #project-selector {
    display: block !important;
    .project {
      display: inline-block !important;
      width: 10vw !important;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
