/* IMPORTS */

// FONT IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Do+Hyeon&family=Spinnaker&display=swap");

// COLOR SCHEME

$color-bg-1: #191c25;
$color-bg-2: #1f2833;
$color-bg-3: lighten($color-bg-2, 10%);
$color-text: #ffffff;
$color-acc-1: #4ffff3;
$color-acc-2: #fc8e4f;
$color-acc-3: #4fff67;
$color-acc-4: #ffed4f;

// FONTS
$font-spinnaker: "Spinnaker", cursive;
$font-doHyeon: "Do Hyeon", sans-serif;
$font-bungeeInline: "Bungee Inline", cursive;
