// IMPORTS
@import "styling";
@import "mobile";

::-webkit-scrollbar {
  display: none;
}
body {
  padding: 0;
  margin: 0;

  #socials {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: space-evenly;
    padding: 1vh 0;
  }

  .go-home {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10vh;
    right: 0;
    text-align: center;
  }

  footer,
  section {
    display: block;
    min-height: 20vh;
    min-width: 80vw;
    max-width: 100vw;
    height: auto;
  }
  section {
    padding: 5vh 5vw;
    .section-title {
      margin-bottom: 5vh;
    }
  }
  header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 5vw 2vh 5vw;

    .logo-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-evenly;
      align-content: space-between;
    }
    .navbar {
      .list-group {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
  #home {
    min-height: 70vh;
    .button-wrapper {
      text-align: center;
      margin-top: 5vh;
    }
  }

  #techstack {
    .techstack-card-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      .card {
        padding: 2vh 2vw;
        height: auto;
        width: auto;
        margin-bottom: 4vh;
        .card-icon-wrapper {
          display: flex;
          justify-content: space-evenly;
          align-content: center;
          flex-wrap: wrap;
          margin: 5vh 0;
          .fab {
            display: block;
          }
        }
      }
    }
  }

  #projects {
    height: auto;
    #dashboard {
      display: grid;
      grid-template-rows: 5vh auto auto;
      width: 90vw;
      height: 50vh;
      justify-content: center;
      line-height: 4vh;
      height: auto;
      #project-selector {
        display: flex;
        overflow: auto;
        padding: 0 5vw;
        .project {
          flex-shrink: 0;
          width: 35vw;
        }
      }
      .panel {
        display: flex;
        flex-direction: column;
        padding: 0 5vw;
        justify-content: space-between;
        align-content: center;
        grid-template-areas:
          "left right"
          "bottom bottom";
        > div {
          padding: 1vh 1vw;
        }
        .col-left {
          grid-area: left;
        }
        .col-right {
          grid-area: right;
          .technologies {
            display: flex;
            flex-direction: column;
          }
        }
        .row-bottom {
          grid-area: bottom;
        }
      }
    }
  }

  #contact {
    height: auto;
    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: space-around;
      padding: 0;
      .list-group-item {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
    .copyright {
      margin-top: 10vh;
      margin-bottom: 5vh;
      font-size: 12px;
      text-align: center;
    }
  }
}
