/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Do+Hyeon&family=Spinnaker&display=swap");
body {
  /* *** GENERAL *** */
  background: #191c25;
  font-family: "Bungee Inline", cursive;
  color: #ffffff;
  font-size: 16px;
  /* *** HEADER *** */
}

body #socials {
  background-color: #1f2833;
}

body .go-home {
  border-radius: 5px 0 0 5px;
  background: rgba(50, 65, 83, 0.5);
}

body .link,
body .nav-link {
  color: #4fff67;
  text-decoration: none;
}

body .link:hover,
body .nav-link:hover {
  text-decoration: none;
  color: #4ffff3;
}

body #active {
  color: #ffed4f !important;
}

body .list {
  list-style-type: none;
}

body .list-group-item {
  list-style-type: none;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5rem;
}

body .list-group-item:hover {
  color: #4ffff3;
}

body hr {
  width: 80vw;
  height: 1px;
  border: none;
  background-color: #324153;
}

body button {
  border-radius: 10px;
  padding: 2vh 5vw;
  margin-top: 5vh;
  background-color: #191c25;
  color: #ffffff;
  font-family: "Bungee Inline", cursive;
  border: none;
  -webkit-box-shadow: 0px 7px 18px -8px black;
          box-shadow: 0px 7px 18px -8px black;
}

body button:hover {
  background-color: #1f2833;
  color: #4ffff3;
  -webkit-box-shadow: 0px 7px 18px -4px black;
          box-shadow: 0px 7px 18px -4px black;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  line-height: 5vh;
}

body .section-title {
  color: #4fff67;
  font-family: "Bungee Inline", cursive;
}

body .highlight-blue {
  color: #4ffff3;
  font-family: "Bungee Inline", cursive;
}

body .highlight-red {
  color: #fc8e4f;
  font-family: "Bungee Inline", cursive;
}

body .highlight-green {
  color: #4fff67;
  font-family: "Bungee Inline", cursive;
}

body .highlight-yellow {
  color: #ffed4f;
  font-family: "Spinnaker", cursive;
}

body [class^="svg-inline"] {
  color: #fc8e4f;
}

body [class^="svg-inline"]:hover {
  color: #4ffff3;
}

body header {
  -webkit-box-shadow: 0px 7px 18px -8px black;
          box-shadow: 0px 7px 18px -8px black;
  background-color: #191c25;
  line-height: 0.8rem;
}

body header .logo-wrapper {
  font-family: "Bungee Inline", cursive;
}

body header .logo-wrapper .logo {
  color: #4ffff3;
  font-size: 1.2rem;
}

body header .logo-wrapper .sublogo {
  color: #ffffff;
  font-size: 0.8rem;
}

body header .navbar {
  width: 80vw;
}

body section {
  font-family: "Do Hyeon", sans-serif;
  -webkit-box-shadow: 0px 7px 18px -8px black;
          box-shadow: 0px 7px 18px -8px black;
}

body #techstack {
  text-align: right;
  background-color: #1f2833;
}

body #techstack .card {
  background-color: #191c25;
  -webkit-box-shadow: 0px 7px 18px -8px black;
          box-shadow: 0px 7px 18px -8px black;
  border-radius: 5px;
  text-align: center;
}

body #techstack .card:hover {
  -webkit-box-shadow: 0px 7px 18px -4px black;
          box-shadow: 0px 7px 18px -4px black;
}

body #projects #dashboard {
  font-size: 16px;
}

body #projects #dashboard .project {
  color: #324153;
}

body #projects #dashboard .project:hover {
  cursor: pointer;
}

body #projects #dashboard .prefix {
  color: #fc8e4f;
}

body #contact {
  color: #ffffff;
}

body #footer {
  font-size: 12px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 24px;
  }
  body .list-group {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  body .list-group .list-group-item {
    font-size: 24px;
  }
  body .techstack-card-wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  body .techstack-card-wrapper .card {
    width: 20vw !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body #project-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 5vw;
  }
  body #project-selector .project {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  body #contact {
    height: 30vh;
  }
  body #contact .list {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  body #contact .list .list-group-item {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #project-selector {
    display: block !important;
  }
  #project-selector .project {
    display: inline-block !important;
    width: 10vw !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

body #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1vh 0;
}

body .go-home {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10vh;
  right: 0;
  text-align: center;
}

body footer,
body section {
  display: block;
  min-height: 20vh;
  min-width: 80vw;
  max-width: 100vw;
  height: auto;
}

body section {
  padding: 5vh 5vw;
}

body section .section-title {
  margin-bottom: 5vh;
}

body header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 5vw 2vh 5vw;
}

body header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

body header .navbar .list-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #home {
  min-height: 70vh;
}

body #home .button-wrapper {
  text-align: center;
  margin-top: 5vh;
}

body #techstack .techstack-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

body #techstack .techstack-card-wrapper .card {
  padding: 2vh 2vw;
  height: auto;
  width: auto;
  margin-bottom: 4vh;
}

body #techstack .techstack-card-wrapper .card .card-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5vh 0;
}

body #techstack .techstack-card-wrapper .card .card-icon-wrapper .fab {
  display: block;
}

body #projects {
  height: auto;
}

body #projects #dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vh auto auto;
      grid-template-rows: 5vh auto auto;
  width: 90vw;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4vh;
  height: auto;
}

body #projects #dashboard #project-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding: 0 5vw;
}

body #projects #dashboard #project-selector .project {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35vw;
}

body #projects #dashboard .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
      grid-template-areas: "left right" "bottom bottom";
}

body #projects #dashboard .panel > div {
  padding: 1vh 1vw;
}

body #projects #dashboard .panel .col-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

body #projects #dashboard .panel .col-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

body #projects #dashboard .panel .col-right .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #projects #dashboard .panel .row-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
}

body #contact {
  height: auto;
}

body #contact .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 0;
}

body #contact .list .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body #contact .copyright {
  margin-top: 10vh;
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */